:root {
    --background: antiquewhite;
    --borders: purple;
    --section-color: rgb(37, 202, 243);
}


body {
    background: linear-gradient(rgb(205, 118, 226), rgb(188, 249, 253));
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(rgb(205, 118, 226), rgb(188, 249, 253));
    color: white;
    padding: 8px;
    border: 2px solid var(--borders);
}

main {
    display: flex;
    flex-flow: wrap column;    
    align-items: center;
}

section {
    background: linear-gradient(rgb(186, 5, 231), rgb(188, 249, 253));
    margin: 20px 20px 20px 20px;
    padding: 4px;
    border: 2px solid var(--borders);
    max-width: 500px;
    min-width: 300px;
    border-radius: 20px;
    
}



p {
    display: block;
    white-space: normal;
}

h1 {
    font-size: 300%;
}

h2 {
    min-width: 100px;
    max-height: 40px;
    max-width: fit-content;
}





img {
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    padding: 4px;
    border: 2px solid var(--borders);
    max-width: 200px;
    opacity: 50%;
}


.content {
    display: block;
    text-wrap: wrap;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;    
}

nav ul li a {
    color: white;
    text-decoration: none;
}



a:hover {
    color: lightgray;
}

section:hover {
    background: linear-gradient(rgb(186, 5, 231), white);
    
    box-shadow: 10px 15px 15px grey;
    left: 10px;
}

section:hover .content {
    display: block;
    text-wrap: wrap;
    
    
}

img:hover {
    background-color: white;
    opacity: 100%;
}


footer {
    border-radius: 20px;
    background: linear-gradient(rgb(205, 118, 226), rgb(188, 249, 253));
    height: fit-content;
    margin: 2px;
    padding: 2px;
    border: 2px solid var(--borders);
    font-weight: bolder;
}




@media screen and (max-width: 780px) {
    header {
        flex-flow: column wrap;
    }

}
